<div id="random-numbers"style="margin-top:50px">
    <input type="text" class="form-control" v-model="min" placeholder="Min"/>
    <br />
    <input type="text" class="form-control" v-model="max" placeholder="Max" />
    <br />
    <button class="btn btn-success" v-on:click="addnumberClick">Add Random Number</button>
    <br />
    <ul>
        <template v-for="number in numbers">
            <li style="font-size: 20px;">{{number}}</li>
        </template>
    </ul>
</div>


@section scripts{
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/index.js"></script>
}